//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Override primary color variants
$primary:       									  #1A1A1A; // Bootstrap variable
$primary-hover:    									#CACACA; // Custom variable
$primary-light:    									#cacaca; // Custom variable
$primary-inverse:  									#FFFFFF; // Custom variable
$btn-secondary:                         #0c4d8a;
$secondary-border:                  1px solid #1A1A1A;
// $custom-100: 											#C4C4C4 ;
$input-disabled-bg:                     			#C4C4C4;
