.ant-select {
    display: flex;
}

.ant-select-multiple .ant-select-selection-item-remove {
    line-height: 1.5 !important;
    color: #1A1A1A;
}

.ant-select .ant-select-arrow {
    margin-top: -17px;
    margin-right: -4px;
    display: flex;
    align-items: center;
    color: #42526e;
    width: 24px;
    height: calc(1.5em + 1.3rem + 1.5px) !important;
}

// .ant-select-selection-search:focus {
//     color: red;
// }

.ant-select-selector:hover {
    border-color: #1A1A1A !important;
}

// .ant-input:focus {
//     border-color: green !important;
//     outline: 0;
//     -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
//     box-shadow: 0 0 0 2px rgba(87,168,233, .2);
// }

.ant-select-selector {
    background-color: #1A1A1A;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #1A1A1A;
}

.ant-picker-disabled {
    background-color: #c4c4c4 !important;

    .ant-picker-input > input[disabled] {
        color: #3f4254 !important;
        cursor: default !important;
    }
}

.ant-select-disabled.ant-select-multiple .ant-select-selector {
    background-color: #c4c4c4 !important;
}

.ant-select {
    font-size: 12px !important;
}
